@font-face {
font-family: 'Lato', sans-serif;
font-style: normal;
src:  url('../fonts/Lato.ttf') format('truetype');
}
*{
	font-family: Lato,'open sans';


}

.Dashboard-left {
	background-color: rgb(128, 128, 128);
	height:auto ;
	margin-top: 1%;
	border-radius: 4px;
	box-shadow: 0px 0px 10px gray;
}



.btn-default{
	margin-top:10px;
	width:100%;
	height:50px;
 	font-size: 17px;	
 	text-align: center;
	background-color: rgba(85, 85, 85,6);
	padding-top: 13px;
	color:white;
	font-weight: 300px;
	border-color: none;
	border:0px;
	margin-bottom:10px; 

}
.btn-default:hover{
	box-shadow: 0px 0px 10px #e6e6e6;
	background-color: #e7e7e7;
}

.Dashboard-right {
	border:1px soild black;
	height:auto;
	width:70%;
	background-color:inherit;
	margin-top: 1%;
	margin-left:1%;
}
.file_complaint {
	width:100%;
	height:auto;


}
.well {
	text-align: center;
	width:auto;
	background-color:white;
	color:black;
	font-size: 17px;
	border-radius: 0px;
	box-shadow: 0px 0px 15px rgb(230, 230, 230);
	height:auto;

}
.jumbotron {
	background-color: rgb(128, 128, 128);
	color:white;
	font-size: 17px;
}

table th
{
	background-color:rgb(89, 89, 89);
	text-align: center;
	color:white;
	border:none;
	
}